<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :enrollment, style: "display: block" %>
    <%= form.select :enrollment_id, @my_enrollments.map { |t| [t.teachers_subject.teacher.last_name + " " + t.teachers_subject.subject.subject_name + " " + t.teachers_subject.subject.activity, t.id]}, {}  %>
    <%#= form.select(:enrollment_id, options_from_collection_for_select(@my_enrollments, 'id', )) %>
    <%#= form.label :title, style: "display: block" %>
<!--    <select name="enrollment">-->
      <%#= @my_enrollments.each do |e| %>
<!--        <option value="<%#= e %>"><%#= e.teachers_subject.teacher.last_name + " " + e.teachers_subject.subject.subject_name + " " + e.teachers_subject.subject.activity %></option>-->
      <%# end %>
<!--    </select>-->
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :details, style: "display: block" %>
    <%= form.text_area :details %>
  </div>

  <div>
    <%= form.label :anonymous, style: "display: block" %>
    <%= form.check_box :anonymous %>
  </div>

  <div>
    <%= form.label :importance, style: "display: block" %>
    <%= form.number_field :importance %>
  </div>

  <div>
    <%= form.label :votes, style: "display: block" %>
    <%= form.number_field :votes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
