<div id="<%= dom_id question %>" class="container my-5">
  <div class="card mx-5">
    <div class="card-header d-flex">
      <div class="me-auto">
        <%= question.enrollment.subject.subject_name + " - " + question.enrollment.subject.activity%>
      </div>
      <div class="ms-auto text-muted">
        <%= question.enrollment.teachers_subject.teacher.last_name + " " + question.enrollment.teachers_subject.teacher.first_name %>
      </div>
    </div>
    <a href="<%= question_path(question) %>" class="text-decoration-none text-dark">
      <div class="card-body">
        <h5 class="card-title text-center">
          <%= question.title %>
        </h5>
        <p class="card-text">
          <%= question.details.length < 200 ? question.details : question.details[0,200] + "..."%>
        </p>
        <p class="card-text" style="text-align: right">
          <% if question.enrollment.student_id == current_user.id %>
            You,
          <% else %>
            <%= question.anonymous ? "anonymous," : question.enrollment.student.last_name + " " + question.enrollment.student.first_name + ","%>
          <% end %>
          <%= question.created_at %>
        </p>
      </div>
    </a>
    <div class="card-footer d-flex">
      <div class="mx-1">
        <%= question.question_likes.count %> likes
      </div> |
      <div class="mx-1">
        <%= question.importance %>
      </div>
      <div class="ms-auto">
        <%= question.answers.count %> answers
      </div>
    </div>
  </div>
</div>