<div id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= question.details %>
  </p>

  <p>
    <strong>Importance:</strong>
    <%= question.importance %>
  </p>

  <p>
    <strong>Votes:</strong>
    <%= question.votes %>
  </p>

</div>
