<div class="row">
  <div class="col">
    <%= render @question %>

    <% pre_like = @question.question_likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', question_question_like_path(@question, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', question_question_likes_path(@question), method: :post %>
    <% end %>

    <div>
      <% if current_user.role == "ADMIN" or current_user.id == @question.enrollment.student.id %>
        <%= link_to "Edit this question", edit_question_path(@question) %>
        <%= button_to "Destroy this question", @question, method: :delete %>
      <% end %>

      <%= link_to "Back to questions", questions_path %>
    </div>
  </div>

  <div class="col">
    <h1>Answers</h1>

    <div id="new_answer">
      <%= render "answers/form", answer: @answer%>
    </div>

    <div id="answers">
      <% @answers.each do |answer| %>
        <div id="<%= answer.id %>">
          <p>
            <strong>Text:</strong>
            <%= answer.text %>
          </p>

          <p>
            <strong>Likes:</strong>
            <%= answer.answer_likes.count %> <%= (answer.answer_likes.count) == 1 ? 'Like' : 'Likes'%>
          </p>

          <% pre_like = answer.answer_likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', answer_like_path(pre_like), method: :delete, params: {answer_id: answer.id, id: pre_like.id} %>
          <% else %>
            <%= button_to 'Like', answer_likes_path(answer), method: :post, params: {answer_id: answer.id} %>
          <% end %>

          <% if current_user.role == "ADMIN" or current_user.id == answer.user.id %>
            <%= link_to "Edit this answer", edit_answer_path(answer) %>
            <%= button_to "Destroy this answer", answer, method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>