<h1>Enrollments</h1>

<% if current_user.role == "STUDENT" %>
  <div class="row">
    <div class="col">
      <h2> My Enrollments </h2>
      <% @enrollments_of_student.each do |enrollment| %>
        <%= render enrollment %>
        <%= button_to "Remove Enrollment", enrollment_path(enrollment.id), controller: 'enrollments', action_name: 'destroy', method: :delete %>
      <% end %>
    </div>
    <div class="col">
      <h2> Other Enrollments </h2>
      <% @teachers_subjects_not_of_student.each do |teachers_subject| %>
        <%= teachers_subject.subject.subject_name %> (<%= teachers_subject.subject.activity %>) -> <%= teachers_subject.teacher.last_name %> <%= teachers_subject.teacher.first_name %>
        <%= button_to "Add Enrollment", controller: 'enrollments', action_name: 'create', method: :post, data: {student_id: current_user.id, teachers_subject_id: teachers_subject.id} %>
      <% end %>
    </div>
  </div>
<% elsif current_user.role == "ADMIN" %>
  <div id="enrollments">
    <% @enrollments.each do |enrollment| %>
      <%= enrollment.subject.subject_name %> (<%= enrollment.subject.activity %>) -> <%= enrollment.teacher.last_name %> <%= enrollment.teacher.first_name %> --- <%= enrollment.student.last_name %> <%= enrollment.student.first_name %>
      <p>
        <%= link_to "Show this enrollment", enrollment %>
      </p>
    <% end %>
  </div>
<% end %>