<p style="color: green"><%= notice %></p>

<%= render @subject %>

<div>
  <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
  <%= link_to "Back to subjects", subjects_path %>

  <%= button_to "Destroy this subject", @subject, method: :delete, :onclick => "return confirm('Are you sure you want to delete this subject? (by doing so you will also delete all enrollments and questions related to this subject)')" %>
</div>
