
<div class="row me-0">
  <div class="col-8">
    <div id="users">
      <% @users.in_groups_of(2).each do |user_pair| %>
        <div class="row">
          <div class="col ms-5">
            <div class="row justify-content-md-center mb-3">
              <div class="card col-11 mt-5">
                <div class="card-body" id="<%= dom_id user_pair.first %>">

                  <%= render user_pair.first %>
                  <div class="d-flex">
                    <%= link_to "Show this user", admin_user_path(user_pair.first), :method => :get, class: "btn btn-outline-primary mt-3" %>
                    <% if user_pair.first.activated == false %>
                      <%= button_to "Activate this user", admin_activate_user_path(user_pair.first), :action_name => :activate, :method => :put, class: "btn btn-outline-primary mt-3 ms-3" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <% if user_pair.second != nil %>
              <div class="row justify-content-md-center mb-3">
                <div class="card col-11 mt-5">
                  <div class="card-body" id="<%= dom_id user_pair.second %>">

                    <%= render user_pair.second %>
                    <div class="d-flex">
                      <%= link_to "Show this user", admin_user_path(user_pair.second), :method => :get, class: "btn btn-outline-primary mt-3" %>
                      <% if user_pair.second.activated == false %>
                        <%= button_to "Activate this user", admin_activate_user_path(user_pair.second), :action_name => :activate, :method => :put, class: "btn btn-outline-primary mt-3 ms-3" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col-4 mt-5">
    <div class="card ms-5 col-6">
      <% students = params[:students] %>
      <% if students == 'true' %>
        <%= link_to "students", admin_users_path(students: 'false', active: params[:active], inactive: params[:inactive]), :class => "btn btn-info w-100" %>
      <% else %>
        <%= link_to "students", admin_users_path(students: 'true', active: params[:active], inactive: params[:inactive]), :class => "btn btn-outline-info w-100" %>
      <% end %>

      <% teachers = params[:teachers] %>
      <% if teachers == 'true' %>
        <%= link_to "teachers", admin_users_path(teachers: 'false', active: params[:active], inactive: params[:inactive]), :class => "btn btn-info w-100" %>
      <% else %>
        <%= link_to "teachers", admin_users_path(teachers: 'true', active: params[:active], inactive: params[:inactive]), :class => "btn btn-outline-info w-100" %>
      <% end %>

      <% active = params[:active] %>
      <% if active == 'true' %>
        <%= link_to "active", admin_users_path(active: 'false', students: params[:students], teachers: params[:teachers]), :class => "btn btn-info w-100" %>
      <% else %>
        <%= link_to "active", admin_users_path(active: 'true', students: params[:students], teachers: params[:teachers]), :class => "btn btn-outline-info w-100" %>
      <% end %>

      <% inactive = params[:inactive] %>
      <% if inactive == 'true' %>
        <%= link_to "inactive", admin_users_path(inactive: 'false', students: params[:students], teachers: params[:teachers]), :class => "btn btn-info w-100" %>
      <% else %>
        <%= link_to "inactive", admin_users_path(inactive: 'true', students: params[:students], teachers: params[:teachers]), :class => "btn btn-outline-info w-100" %>
      <% end %>
    </div>
  </div>

</div>
