<div>
  <% if (current_user.id == @user.id) %>
    <div class="row justify-content-md-center mb-5 me-0" >
      <div class="card col-4 mt-5">
        <div class="card-body" id="<%= dom_id @user %>">
          <%= render @user %>
          <div class="d-flex mt-4 justify-content-between">
            <%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-outline-primary me-5" %>
            <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row" style="margin-right: 0px;">
      <div class="col">
        <div class="row justify-content-md-center mb-5">
          <div class="card col-8 mt-5">
            <div class="card-body" id="<%= dom_id @user %>">
              <%= render @user %>
              <div class="d-flex mt-4 justify-content-between">
                <%= link_to "Edit this user", edit_admin_user_path(@user), class: "btn btn-outline-primary me-5" %>
                <%= link_to "Back to users", admin_users_path, class: "btn btn-outline-primary me-5" %>

                <%= button_to 'Delete this user', admin_user_path(@user), :method => :delete, :onclick => "return confirm('Are you sure you want to delete this user? (By doing so you will also delete all enrollments and questions related to this user)')", class: "btn btn-outline-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if @user.role == "TEACHER" %>
        <div class="col">

          <h2> Teacher's subjects </h2>
          <% @teachers_subjects.each do |teachers_subject| %>
            <p>
              <strong>Subject name:</strong>
              <%= teachers_subject.subject.subject_name %>
            </p>
            <p>
              <strong>Activity:</strong>
              <%= teachers_subject.subject.activity %>
            </p>
            <%= button_to "Remove Subject", teachers_subject_path(teachers_subject.id), controller: 'teachers_subjects', action_name: 'destroy', method: :delete, :onclick => "return confirm('Are you sure you want to delete this answer? (By doing so you will also delete all enrollments and questions related to this teacher's subject)" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>


</div>
